%h1= "Survey for #{@survey.course.designation}"

%ol
  = form_with model: @survey, url: survey_path do |f|
    %li
      = f.label "I accept the terms of the contract", for: :contract_acceptance
      = f.check_box :contract_acceptance, id: :contract_acceptance
    = f.fields_for :student, @survey.student do |student_fields|
      %li
        = student_fields.label :preferred_first
        = student_fields.text_field :preferred_first
    %li
      = f.submit
